$second-color: #979797;
$work-color: #303030;
$green-color: #76c38f;

body {
  font-family: Raleway, sans-serif;
  font-size: 13px;
  color: #fff;
}

.green-stripe {
  height: 5px;
  background: #76c38f;
}


//***********************Section 1************************************


.section-1 {
  background: #290000;

  //**********Navbar**************

  .navbar-light .navbar-brand span {
    &:first-child {
      font-size: 28px;
      color: #fff;
    }

    &:last-child {
      font-size: 11px;
      color: $second-color;
    }
  }

  .navbar {
    padding: 0;
  }

  .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    color: #fff;
    margin: 0 11px;
  }

  .navbar-light .navbar-nav .nav-item:hover {
    background-color: #76c38f;
    border-radius: 10px;
  }


  //*************Carousel block***********


  .carousel__title {
    margin-top: 130px;
  }

  .carousel__text {
    margin-bottom: 20px;
  }

  .carousel__button {
    display: inline-block;
    width: 142px;
    height: 35px;
    border-radius: 10px;
    background-color: $green-color;
    text-align: center;
    padding-top: 7px;
    vertical-align: middle;
    cursor: pointer;

    &:hover {
      background-color: #54a56e;
    }

    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 13px;
      line-height: 15.6px;
    }
  }

  .carousel-control-prev, .carousel-control-next {
    width: 5%;
  }

  .carousel-control-prev-icon {
    background-image: url("../../img/section-1/Left-arrow.png"); //****not an error***
    height: 28px;
    width: 15px;
  }

  .carousel-control-next-icon {
    background-image: url("../../img/section-1/Right-arrow.png"); //****not an error***
    height: 28px;
    width: 15px;
  }

  .circle {
    height: 380px;
    width: 380px;
    border: 26px #6b6b6b solid;
    border-radius: 50%;
    margin: 34px 0 50px 67px;
    background-color: #333;
    font-size: 28px;
    align-items: center;
    justify-content: center
  }

  .circle span {
    display: inline-block;
  }
}


//***********************Section 2************************************


.section-2 {
  background-color: #660000;


  .services {

    .service__block {
      margin-top: 60px;
      margin-bottom: 40px;
      background-color: #fff;
      cursor: pointer;
      padding: 21px 33px;
      transition: .4s;

      .service__img {
        background: url("https://dummyimage.com/120x120/333/fff.jpg");
        display: inline-block;
        width: 120px;
        height: 120px;
      }

      .service__title {
        color: #333;
        font-size: 32px;
        margin: 17px 0 24px;
      }

      .service__text {
        font-size: 12px;
        line-height: 16.8px;
        color: $second-color;
        margin: 0;
      }

      &:hover {
        background-color: #76c38f;

        .service__img {
          background: url("https://dummyimage.com/120x120/fff/000333.jpg");
        }

        .service__title, .service__text {
          color: #fff;
        }
      }
    }
  }


  //***********************Work blocks************************************


  .work {
    .work_inner {
      width: 1000px;
      height: 48px;
      position: relative;
    }

    .work__line {
      background-color: $work-color;
      height: 3px;
      margin-top: 22px;
    }

    .work__center {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 256px;
      height: 48px;
    }

    .latest-work {
      display: table-cell;
      background-color: $work-color;
      vertical-align: middle;
      text-align: center;
      width: 256px;
      height: 48px;
      font-size: 32px;
      border-radius: 5px;
    }
  }

  .work__wrapper {
    margin-top: 30px;

    .work-item {
      border: #fff 5px solid;
      width: 30%;
      height: 200px;
      background: #353535;
      align-items: center;
      justify-content: center;
      margin: 15px 0;
      transition: .5s;

      &:hover {

        .work-item__name {
          z-index: -1;
        }
      }

      .work-item__img {
        display: inline-block;
        font-size: 18px;
        vertical-align: middle;
      }

      .work-item__name {
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        display: inline-block;
        height: 30px;
        background-color: #000000;
        font-size: 14px;
        transition: .5s;
      }
    }

    &:last-child {
      padding-bottom: 60px;
    }
  }
}


//*******************Section 3****************************


.section-3 {
  background-color: #303030;
  border-bottom: #000 1px solid;


  .footer__title {
    font-size: 16px;
    margin: 40px 0 30px;
  }

  //********Blog block*************

  .blog {
    padding-left: 0;

    .blog__title {
      color: $green-color;
      font-size: 13px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .blog__author {
      font-size: 10px;
      color: $green-color;
      margin-bottom: 12px;

      span {
        color: #666;
        cursor: pointer;
      }
    }

    .blog__date {
      color: $second-color;
      font-size: 10px;

    }

    .blog__text {
      color: $second-color;
      font-size: 13px;
    }

    .blog__more {
      color: $green-color;
      cursor: pointer;
    }
  }

  //********Links block*************

  .footer__table {
    line-height: 34.5px;
    width: 225px;
    cursor: pointer;

    td {
      border-bottom: 1px solid #404040;
      color: $green-color;

      span {
        font-size: 5px;
        vertical-align: middle;
        color: $second-color;
      }
    }
  }

  //********Twitter block*************


  .twitter {
    p {
      color: $second-color;
      line-height: 20.8px;
      margin-bottom: 25px;

      span {
        color: $green-color;
        cursor: pointer;
      }
    }
  }

  //********Form block*************

  .form__col {
    padding-right: 0;

    .form {
      margin-bottom: 40px;

      .form-control {
        color: $second-color;
        font-size: 13px;
        line-height: 15.6px;
        background-color: #222;
        border: 0;
        resize: none;

        &:focus {
          border-color: $green-color;
          box-shadow: 0 0 0 0.1rem rgb(118, 195, 143);
        }
      }

      .btn-primary {
        background-color: $green-color;
        border-color: $green-color;

        &:hover {
          background-color: #54a56e;
        }

        &:focus {
          box-shadow: 0 0 0 0.2rem #06ad3c;
        }
      }
    }
  }
}


//***************Section 4*************


.section-4 {
  background-color: #303030;
  border-top: #3a3a3a 1px solid;
  color: $second-color;

  .row > div {
    padding: 20px 0;
  }
}


//**********************Responsive part*************************************************


@media (max-width: 992px) {

  .navbar-light .navbar-toggler {
    outline-color: $green-color;
  }

  .carousel-item .col-lg-6 {
    text-align: -webkit-center;
  }

  .navbar-light .navbar-toggler-icon {
    filter: invert(1);
  }

  .section-2 .work__wrapper .work-item {
    width: 43%;
  }

  .table__col {
    padding-left: 0;
    margin-bottom: 40px;
  }
}

//*******************************

@media (max-width: 576px) {
  .carousel__button {
    margin-bottom: 50px;
  }

  .section-2 .work__wrapper .work-item {
    width: 78%;
    margin: 15px;
  }

  .table__col {
    padding-left: 15px;
  }

  .section-4 .row > div {
    padding-left: 15px;
  }
}
